*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
/* navbar */
.navbar{
	background: white;
}
.navbar .navbar-nav .nav-item a{
	color: black;
	font-size: 18px;
	margin-right: 20px;
}
.navbar .navbar-nav .nav-item a:hover{
	color: #F7CAC1;
}
.navbar .navbar-nav{
	padding-right: 100px;
}
/*jumbotron*/
.jumbotron{
	background-image: url(img/back.png);
	background-size: cover;
	height: 680px;
	position: relative;
}
.jumbotron .jumbotron-isi h1{
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 60px;
	padding-top: 10rem;
}
.jumbotron .jumbotron-isi h3{
	color: #FEC89A;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 100;
	padding-bottom: 20px;
}
.jumbotron .jumbotron-isi a{
	background: linear-gradient(to right, #FFB5A7, #FEC89A);
	border-radius: 0%;
	color: white;
	padding: 13px 35px;
	font-size: 22px;
	font-weight: 500;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.jumbotron .jumbotron-isi a:hover{
	background: linear-gradient(to right, #FEC89A, #FFB5A7);
}
/*about*/
#about{
	padding-top: 6rem;
}
.style-title h1{
	text-transform: capitalize;
	font-size: 48px;
	font-weight: 550;
}
.card-style{
	padding-bottom: 100px;
	padding-top: 50px;
}
.card-style:hover{
	transform: translateY(-15px);
	transition: 0.8s;
}
.isi-card{
	text-transform: capitalize;
	font-size: 17px;
	font-weight: 530;
}
.kartu{
	border-radius: 0%;
	border: none;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/*style*/
#style{
	background-color: #F5F5F5;
	padding: 4.7rem 0 5rem 0; 
}
.isi-content a{
	background: linear-gradient(to right, #FFB5A7, #FEC89A);
	border-radius: 0%;
	color: white;
	padding: 10px 20px;
	font-size: 22px;
	font-weight: 500;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.isi-content hr{
	width: 94%;
	color: #FFB5A7;
	height: 3px;
}
.content-img img{
	width: 580px;
	height: 390px;
	padding-top: 3.5rem;
}
.isi-content .kenapa1{
	font-size: 40px;
	padding-top: 4.5vh;
	padding-bottom: 1vh;
}
.isi-content .kenapa2{
	font-size: 20px;
	padding-bottom: 20px;
}
/*product*/
#product{
	padding: 4rem 0;
}
.product-title h1{
	padding-bottom: 3rem;
	text-transform: capitalize;
	font-size: 48px;
	font-weight: 550;
	color: black;
}
.product-title h5{
	padding-top: 5.5rem;
	text-transform: capitalize;
	font-size: 24px;
	color: #C6C6C6;
}
#product .card img{
	border: none;
	border-radius: 0%;
}
.card-product{
	padding-bottom: 2.5rem;
}
#product .card{
	border: none;
	border-radius: 0%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.kartuisi h5{
	text-transform: capitalize;
	font-weight: 450;
	font-size: 17.7px;
}
.kartuisi h6{
	color: #FFB5A7;
	font-size: 17.5px;
	font-weight: 400;
}
.star-icon{
	padding-bottom: 8px;
}
.kartuisi .star-icon i{
	color: #EFCD19;
	width: 20px;
	height: 15px;
}
.star-icon a{
	color: black;
	text-decoration: none;
}
.kartuisi .btn{
	background: linear-gradient(to right, #FFB5A7, #FEC89A);
	border-radius: 0%;
	color: white;
}
.kartuisi .btn:hover{
	background: linear-gradient(to right, #FEC89A, #FFB5A7);
}
.colnya{
	padding-bottom: 2rem;
}
/*procces*/
#process{
	padding: 8rem 0 4rem 0;
	background-color: #F5F5F5;
}
.ikon-procces i{
	color: #FFB5A7;
	padding-bottom: 18px;
}
.ikon-procces{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.ikon-procces h2{
	font-weight: 570;
	font-size: 26px;
}
.ikon-procces h5{
	font-size: 19px;
	font-weight: 370;
	color: #746F6F;
	padding-bottom: 4rem;
}
/*blog*/
#blog{
	padding: 3rem 0 5rem 0;
}
.blog-title h5{
	padding-top: 5.5rem;
	text-transform: capitalize;
	font-size: 24px;
	color: #C6C6C6;
}
.blog-title h1{
	text-transform: capitalize;
	font-size: 48px;
	font-weight: 550;
	color: black;
	padding-bottom: 4rem;
}
.blog-card .dalam-blog .card{
	border: none;
	border-radius: 0%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.blog-card{
	padding: 0 4rem;
}
.blog-card .dalam-blog .card img{
	border-radius: 0%;
}
.blog-card .dalam-blog{
	padding-bottom: 3rem;
}
.dalam-blog .card-isi{
	padding: 10px 0 0 10px;
}
.dalam-blog .card-isi p{
	font-size: 13px;
	color: #838383;
}
.dalam-blog .card-isi h5{
	font-weight: 550;
	font-size: 16px;
	padding-top: -10rem;
}
/*contact*/
#contact{
	padding: 8rem 0;
	background-color: #F5F5F5;
}
.title-contact h1{
	text-transform: capitalize;
	font-size: 48px;
	font-weight: 550;
	color: black;
	padding-bottom: 10px;
}
.title-contact p{
	font-size: 30px;
	color: #CACACA;
	padding-bottom: 5px;
}
#contact .container .phone-contact .contact-isi .btn{
	color: black;
	border-radius: 0%;
	font-size: 23px;
	cursor: default;
}
.contact-isi h3{
	padding-bottom: 25px;
}
.contact-isi2 a{
	color: #FFB5A7;
	padding-bottom: 20px;
}
.contact-isi2 a:hover{
	color: #FEC89A;
}
/*footer*/
.footer-isi a{
	text-decoration: none;
	color: black;
}
.footer-isi a:hover{
	background-color: #FEC89A;
	padding: 3px 3px;
}
.footer-isi li{
	padding-bottom: 10px;
}
.footer-isi h5{
	color: white;
}
.footer-isi{
	width: 220px;
	margin: auto;
  	background-color:rgba(255,255,255,0.2);
  	padding: 15px;
}
footer{
	background: linear-gradient(to right, #FFB5A7, #FEC89A);
}
.copyright a{
	text-decoration: none;
}
.copyright2{
	float: right;
}
.copyright .sosial-media i{
	padding: 0 10px;
	color: #F7CAC1;
}
.copyright .sosial-media i:hover{
	color: #FCDCC0;
}
.copyright .tulisan {
	color: white;
}
.copyright .tulisan a{
	color: white;
}
.isi-dalam-f .col-lg-2{
	padding-bottom: 20px;
}
.dktau .col-lg-6{
	padding-bottom: 15px;
}
/*deskop version*/
@media (min-width: 992px) {	
	.navbar .container-fluid img{
		padding-left: 100px;
		width: 167px;
		height: 43px;
	}
	.jumbotron .jumbotron-isi{
		padding-top: 3.5rem;
	}
	.jumbotron .jumbotron-isi h1{
		width: 40%;
	}
	.product-card{
		padding-bottom: 2rem;
		padding: 0 9rem 1rem 9rem;
	}
	/*contact*/
	.contact-isi2{
		padding: 0 22rem;
	}
	/*footer*/
	.media:hover::after{
		content: '';
		display: block;
		border-bottom: 2px solid white;
		width: 50%;
		margin: auto;
		padding-bottom: 4px;
		margin-bottom: -8px;
	}
	.footer-card{
		padding: 0 15rem 1rem 15rem;
	}
	.isi-dalam-f .col-lg-2{
		padding-bottom: 0px;
	}
	.dktau .col-lg-6{
		padding-bottom: 0px;
	}
}